<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>new post</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            body{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100vh;
                background-color:#d40c0c ;
            }
            form{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 500px;
            }
            input, textarea{
                margin-bottom: 1rem;
                width: 50%;
                padding: 0.5rem;
                border-radius: 5px;
                border: 1px solid #ccc;
            }
            button{
                padding: 0.5rem 1rem;
                border-radius: 5px;
                border: none;
                background-color: #ff1111;
                color: white;
                cursor: pointer;
            }
            button:hover{
                background-color: #ff1111;
            }
        .holder{
            border-radius: 16px;
background: #d40c0c;
box-shadow: inset 15px 15px 30px #830707,
            inset -15px -15px 30px #ff1111;
            padding: 50px;
        }
        h2{
            text-align: center;
            color: wheat;
            font-size:3em;
        }
        label{
            color: wheat;
            font-size: 1.5em;
        }
        </style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="holder">
    <h2>Create New Post</h2>
    <form action="/posts" method="POST">
        <label for="title" >Title:</label>
        <input type="text" id="title" name="title" required><br>

        <label for="shortNote">Short Note:</label>
        <input type="text" id="shortNote" name="shortNote" required><br>

        <label for="topic">Topic:</label>
        <input type="text" id="topic" name="topic" required><br>

        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" required></textarea><br>

        <button type="submit">Create Post</button>
    </form>
</div>
        <script src="" async defer></script>
    </body>
</html>




