<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>
        <%= post.title %>
    </title>
</head>

<body>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            <%= post.title %>
        </h5>
        <p class="card-text">
            <%= post.description %>
        </p>
    </div>
</div>
</body>

</html>